
<%- include('layout/header', { title: 'Your Page Title' }) %>
<div class="box">
    <div class="box2">
        <h1 style="text-align: center;">charna here

        </h1>
    </div>
</div>

<%- include('layout/footer') %>
